body {
    background: #2a2a2a;
}

#outer-container {
    display: block;
    height: 100%;
}

#volume-bar {
    display: block;
	  margin: 0 auto;
	  height: 60px;
	  width: 100%;
	  background: #555;
  	border-radius: 15px;
    margin-bottom: 10px;
}

#text-input {
    display: block;
  	height: 50px;
  	width: 100%;
  	background: #555;
    border-radius: 15px;
    border: 0;
    color:white;
    padding-left: 5px;
    font-size: 18pt;
}

#volume-bar .volume-colored {
	  height: 60px;
	  position: absolute;
	  background: #2ecc71;
	  border: none;
    border-radius: 15px;
    outline: none;
}
    
#volume-bar .volume-handle {
  	width: 70px;
    height: 70px;
  	border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-top: -5px;
    cursor: pointer;
    outline: none;
}

button {
    cursor:pointer;
    font-weight:bold;
    text-align:center;
    color:#fff;
    border-radius:30px;
    background-color: #538fbe;
    border:1px solid #2d6898;
    text-shadow: 0px 0px 6px rgba(0,0,0,.8); 
    display:block;
    width: 33%;
    float:left;
    padding-top:8px;
    text-decoration:none;
    font-size:50pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 0px;
    height: 115px;
    margin-bottom: 12px;
}    

button:active {
    background-color: #73afde;
    box-shadow: 0 3px 0 #2b638f;
    transform: translateY(5px);
} 

#volume-numeric {
    text-align: center;
    font-size: 70pt;
    color: white;
}

#touch {
    display: block;
    width: 100%;
    border: 1px solid rgba(135, 206, 250, 0.541);
    border-radius: 15px;
}

#touch-pointer {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: radial-gradient(25px, lightskyblue, transparent);
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #2a2a2a;
    top: 0;
    left: 0;
}

.lds-spinner {
    display: inline-block;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: lightskyblue;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  

@media only screen and (min-width: 300px) {
    #outer-container {
        display: block;
    }

    #inner-container {
        width: 100%;
        height: 375px;
    }
    #touch {
        width: 100%;
        height: calc(100% - 375px);
    }
}

@media only screen and (min-width: 600px) {
    #outer-container {
        display: flex;
    }

    #inner-container {
        width: 50%;
        height: 100%;
    }
    #touch {
        width: 50%;
        height: 100%;
    }
}